In [3]:
import torch
print(torch.__version__)

1.6.0

In [4]:
tensor_array=torch.Tensor([[1,2],[4,5]])
tensor_array

tensor([[1., 2.],
        [4., 5.]])

In [5]:
##AUtogradIntro
tensor=torch.rand(2,2)
tensor

tensor([[0.2769, 0.0035],
        [0.7788, 0.5275]])

In [6]:
tensor.requires_grad

False

In [8]:
tensor.requires_grad_()

tensor([[0.2769, 0.0035],
        [0.7788, 0.5275]], requires_grad=True)

In [10]:
tensor.requires_grad

True

In [11]:
print(tensor.grad)

None

In [12]:
out=tensor*tensor

In [13]:
out.requires_grad

True

In [14]:
print(out.grad)

None

C:\Users\PHSAN\anaconda3\envs\ML_Udemy\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The .grad attribute of a Tensor that is not a leaf Tensor is being accessed. Its .grad attribute won't be populated during autograd.backward(). If you indeed want the gradient for a non-leaf Tensor, use .retain_grad() on the non-leaf Tensor. If you access the non-leaf Tensor by mistake, make sure you access the leaf Tensor instead. See github.com/pytorch/pytorch/pull/30531 for more informations.
  """Entry point for launching an IPython kernel.

In [15]:
print(out.grad_fn)

<MulBackward0 object at 0x000001F58860E2C8>

In [19]:
out=(tensor*tensor).mean()
print(out.grad_fn)

<MeanBackward0 object at 0x000001F5852964C8>

In [20]:
out.backward()

In [21]:
print(tensor.grad)

tensor([[0.1385, 0.0018],
        [0.3894, 0.2637]])

In [22]:
#Linear model to calculate gradients using autograd, Update model weights in the backward pass.
# MAnually constructing  single layer NN with ReLu aactivation to construct simple linear model.
import numpy as np
import matplotlib.pyplot as plt

In [24]:
x_train=np.array([[3.3],[4.4],[5.5],[6.71],[6.93],[4.168],[9.776],[6.182],[7.59],[2.167],[7.042],[10.791],[5.313],[7.997],[3.1]],dtype=np.float32
    )
y_train=np.array([[1.7],[2.76],[2.09],[3.19],[1.694],[1.573],[3.366],[2.596],[2.53],[1.221],[2.827],[3.465],[1.65],[2.904],[1.3]],dtype=np.float32)

In [25]:
x_train

array([[ 3.3  ],
       [ 4.4  ],
       [ 5.5  ],
       [ 6.71 ],
       [ 6.93 ],
       [ 4.168],
       [ 9.776],
       [ 6.182],
       [ 7.59 ],
       [ 2.167],
       [ 7.042],
       [10.791],
       [ 5.313],
       [ 7.997],
       [ 3.1  ]], dtype=float32)

In [26]:
import torch

In [28]:
X_train=torch.from_numpy(x_train)
Y_train=torch.from_numpy(y_train)
# X and Y are our input and output features they dont require grad as they do not need to be trained

In [29]:
#Now we intialize our parameters for our NN
input_size=1
hidden_size=100
output_size=1
learning_rate=1e-6

In [31]:
#Intializing random values for our weights and biase
w1=torch.rand(input_size,hidden_size, requires_grad=True)
w1.shape

torch.Size([1, 100])

In [32]:
w2=torch.rand(hidden_size,output_size,requires_grad=True)

In [33]:
#running our model with 300 ephocs
for iter in range(1,301):
    y_pred=X_train.mm(w1).clamp(min=0).mm(w2)#.mm is multiplication and .clam is Relu takes only positive values
    loss=(y_pred-Y_train).pow(2).sum()
    
    if iter % 50==0:
        print(iter,loss.item())
        
    loss.backward() #once forward pass complete perform backpropagation
    
    #Now we update the weights:
    
    with torch.no_grad():
        w1 -= learning_rate * w1.grad
        w2 -= learning_rate * w2.grad
        w1.grad.zero_()
        w2.grad.zero_()

50 3448.19091796875
100 75.14553833007812
150 5.302340984344482
200 3.671184778213501
250 3.633047103881836
300 3.6321558952331543

In [34]:
print("w1: ", w1)
print("w2: ", w2)

w1:  tensor([[ 1.3807e-01, -5.0121e-03,  4.0489e-01, -5.8718e-03, -9.3249e-04,
          3.7394e-01,  7.0311e-02, -1.8532e-03,  7.2833e-01,  1.3163e-01,
         -4.4734e-03,  2.3044e-01,  8.5747e-02, -1.6273e-03, -3.9391e-03,
          4.6708e-01,  1.2389e-01, -1.3155e-03,  3.5531e-01,  8.1882e-01,
         -3.3603e-04,  3.2787e-01,  1.0512e+00, -8.8551e-03, -1.6393e-04,
          2.2237e-01,  4.0550e-01,  2.7811e-01,  6.7291e-01,  5.7059e-01,
          8.6066e-02,  3.4360e-01, -1.8676e-03,  5.4810e-01,  1.9067e-01,
          1.6655e-02,  5.4140e-01,  5.1107e-01,  5.7677e-02,  1.0963e-01,
          5.1335e-01,  9.5733e-01,  1.0705e-02, -2.6222e-04, -7.5511e-03,
          1.2966e-01,  9.3048e-01, -1.7466e-03,  2.5096e-01,  8.7572e-02,
          4.1416e-01,  5.9748e-01,  3.2587e-01, -2.3940e-03, -1.6355e-02,
          5.6240e-01,  9.4010e-01,  4.6892e-01,  1.3137e-01,  2.9187e-01,
          6.5475e-01, -4.4301e-04,  4.8075e-01,  4.2405e-01,  3.5970e-01,
         -8.3357e-03,  7.2640e-01, -1.1630e-02, -8.1253e-04,  4.6502e-01,
          1.2580e-01,  7.9010e-01,  2.5479e-01,  7.8271e-02,  6.6166e-01,
          2.5902e-01,  3.3536e-01, -6.7081e-03,  7.8553e-01,  6.1132e-01,
         -2.4347e-03,  3.9321e-01,  8.7720e-01,  4.7370e-02,  4.6083e-01,
          4.6832e-02,  8.4907e-01,  5.5441e-01, -1.1470e-03,  3.0094e-01,
          5.1981e-01, -1.8124e-03,  2.3813e-01,  6.5988e-01, -1.3369e-02,
          8.8181e-01,  1.7721e-01,  1.0837e-02,  8.6904e-01,  7.5167e-01]],
       requires_grad=True)
w2:  tensor([[ 0.5939],
        [ 0.4682],
        [-0.1853],
        [ 0.9086],
        [ 0.3290],
        [ 0.4749],
        [ 0.1228],
        [ 0.3133],
        [-0.1412],
        [ 0.3727],
        [ 0.9075],
        [ 0.2857],
        [ 0.4485],
        [ 0.3683],
        [ 0.7687],
        [ 0.5364],
        [ 0.7217],
        [ 0.4550],
        [ 0.6162],
        [-0.1993],
        [ 0.6547],
        [ 0.4097],
        [-0.4933],
        [ 0.5365],
        [ 0.7915],
        [ 0.5154],
        [-0.1732],
        [ 0.1483],
        [-0.0154],
        [-0.1828],
        [ 0.0228],
        [-0.0674],
        [ 0.5709],
        [-0.2139],
        [ 0.6450],
        [ 0.3534],
        [ 0.3006],
        [ 0.2501],
        [ 0.2733],
        [ 0.6970],
        [ 0.0341],
        [-0.5270],
        [ 0.6301],
        [ 0.3985],
        [ 0.7218],
        [ 0.5327],
        [-0.5009],
        [ 0.6431],
        [ 0.6610],
        [ 0.1521],
        [ 0.3577],
        [ 0.1696],
        [ 0.2505],
        [ 0.6589],
        [ 0.7043],
        [ 0.3816],
        [-0.4074],
        [-0.2340],
        [ 0.5606],
        [ 0.0547],
        [-0.0159],
        [ 0.7186],
        [ 0.5507],
        [ 0.5188],
        [ 0.4474],
        [ 0.8007],
        [-0.0543],
        [ 0.9406],
        [ 0.6840],
        [ 0.2440],
        [ 0.7512],
        [-0.0362],
        [-0.1098],
        [ 0.6819],
        [ 0.2336],
        [ 0.0995],
        [ 0.0631],
        [ 0.4393],
        [-0.3551],
        [ 0.0961],
        [ 0.5782],
        [ 0.2106],
        [-0.2927],
        [ 0.4009],
        [ 0.2365],
        [ 0.5961],
        [-0.0777],
        [ 0.3533],
        [ 0.6477],
        [ 0.0226],
        [ 0.2866],
        [ 0.8569],
        [ 0.2165],
        [-0.1826],
        [ 0.8265],
        [-0.3647],
        [ 0.1377],
        [ 0.0130],
        [-0.3022],
        [-0.1299]], requires_grad=True)

In [37]:
#Now we cam predict the output using the weights that have been trained and usin gthe same data we trained with.
x_train_tensor=torch.from_numpy(x_train)

predicted_in_tensor = x_train_tensor.mm(w1).clamp(min=0).mm(w2)
predicted_in_tensor

tensor([[1.2121],
        [1.6162],
        [2.0202],
        [2.4647],
        [2.5455],
        [1.5310],
        [3.5908],
        [2.2707],
        [2.7879],
        [0.7960],
        [2.5866],
        [3.9637],
        [1.9515],
        [2.9374],
        [1.1387]], grad_fn=<MmBackward>)

In [38]:
import pandas as pd

In [43]:
automobile_dat=pd.read_csv('downloads/imports-85.csv',header=None,sep=r'\s*,\s*',engine='python')

In [45]:
automobile_dat.columns=["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels", "engine-location", "wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system", "bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]

In [46]:
automobile_dat.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [50]:
automobile_dat=automobile_dat.replace('?',np.nan)
automobile_dat.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [52]:
automobile_dat=automobile_dat.dropna()

In [54]:
automobile_dat.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [58]:
col=['make','fuel-type','body-style','horsepower']
automobile_features=automobile_dat[col]

In [59]:
automobile_target=automobile_dat[['price']]

In [60]:
automobile_target.head()

    price
3   13950
4   17450
6   17710
8   23875
10  16430

In [64]:
pd.options.mode.chained_assignment=None

In [65]:
automobile_features['horsepower']=pd.to_numeric(automobile_features['horsepower'])

In [66]:
automobile_features['horsepower'].describe()

count    159.000000
mean      95.836478
std       30.718583
min       48.000000
25%       69.000000
50%       88.000000
75%      114.000000
max      200.000000
Name: horsepower, dtype: float64

In [67]:
automobile_target=automobile_target.astype(float)

In [68]:
automobile_features

      make fuel-type body-style  horsepower
3     audi       gas      sedan         102
4     audi       gas      sedan         115
6     audi       gas      sedan         110
8     audi       gas      sedan         140
10     bmw       gas      sedan         101
..     ...       ...        ...         ...
200  volvo       gas      sedan         114
201  volvo       gas      sedan         160
202  volvo       gas      sedan         134
203  volvo    diesel      sedan         106
204  volvo       gas      sedan         114

[159 rows x 4 columns]

In [70]:
automobile_features=pd.get_dummies(automobile_features, columns=["make","fuel-type","body-style"])

In [71]:
automobile_features.head()

,horsepower,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,make_jaguar,make_mazda,make_mercedes-benz,make_mitsubishi,...,make_toyota,make_volkswagen,make_volvo,fuel-type_diesel,fuel-type_gas,body-style_convertible,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon
3,102,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,115,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,110,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8,140,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
10,101,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [72]:
#before train NN we perform some preprocessing
from sklearn import preprocessing

In [75]:
automobile_features[['horsepower']]=preprocessing.scale(automobile_features[['horsepower']])

In [76]:
automobile_features[['horsepower']].head()

    horsepower
3     0.201279
4     0.625812
6     0.462530
8     1.442223
10    0.168622

In [77]:
# splitting our data into training and test data
from sklearn.model_selection import train_test_split

In [79]:
X_train, x_test, Y_train, y_test=train_test_split(automobile_features,automobile_target,test_size=0.2,random_state=0)

In [83]:
#Building out fully connected NN for price prediction.
dtype=torch.float
X_train_tensor=torch.tensor(X_train.values,dtype=dtype)
X_test_tensor=torch.tensor(x_test.values,dtype=dtype)

In [84]:
Y_train_tensor=torch.tensor(Y_train.values,dtype=dtype)
Y_test_tensor=torch.tensor(y_test.values,dtype=dtype)

In [85]:
X_train_tensor.shape

torch.Size([127, 26])

In [86]:
Y_train_tensor.shape

torch.Size([127, 1])

In [88]:
#setting up the number of inputs and outputs for our NN
inp = 26
out = 1

hid = 100 #number of hidden layers

loss_fn = torch.nn.MSELoss()
learning_rate=0.0001

In [89]:
#use the stndrd built in sequential model to predict:
model=torch.nn.Sequential(torch.nn.Linear(inp,hid),torch.nn.Sigmoid(),torch.nn.Linear(hid,out))

In [ ]:
#running training for 10000 ephocs in our data.

for iter in range(10000):